@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --blockquote-color: #cfe8fd;
  --blockquote-border: #94ceff;
  --header-bg: #0f4c81;
  --primary-text: #0d2538;
  --primary-color: #333;
  --secondary-color: #666;
  --yellow: #f7df1e;
}

.dark {
  --bg-color: #0f4c81;
  --primary-color: #fff;
  --secondary-color: #ced8de;
  --header-bg: #dfebf6;
}

::selection {
  background: var(--header-bg);
  color: var(--bg-color);
}

@layer base {
  body {
    @apply font-sans;
    background-color: var(--bg-color);
    transition: color 0.6s, background-color 0.6s;
  }

  header {
    transition: color 0.6s, background-color 0.6s;
  }
}

.bg {
  background-color: rgba(15, 76, 129, 60%);
  background-image: url('/images/bg.jpg');
  background-position: 0 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.29;
}

header .dark,
header .light {
  top: 1em;
  right: 1em;
}

.theme {
  stroke: var(--bg-color);
}

.home {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10;
}

.blog-post-container h1,
.blog-post-container h2 {
  color: var(--header-bg);
  font-family: 'Boogaloo', system-ui, sans-serif;
}

.blog-post-container h2 {
  font-size: 1.602em;
}

.blog-post-container h3 {
  font-size: 1.24em;
  font-weight: 500;
}

.blog-post-container h4 {
  font-size: 1.166em;
  font-weight: 500;
}

.blog-post-container h5 {
  font-size: 1.125em;
  font-weight: 500;
}

.blog-post-container h1,
.blog-post-container h2,
.blog-post-container h3,
.blog-post-container h4,
.blog-post-container h5 {
  transition: color 0.6s;
  margin: 2.75rem 0 1rem;
  text-rendering: optimizeLegibility;
}

.blog-post-container blockquote {
  background: var(--blockquote-color);
  color: var(--primary-text);
  margin-top: 1.25em;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1.25em;
  position: relative;
  border: 1px solid var(--blockquote-border);
  transition-property: background-color, border-color, color;
  transition-duration: 500ms;
}

.blog-post-container blockquote p {
  margin: 0;
}

.blog-post-content {
  max-width: 960px;
  margin: 0 auto;
}

.blog-post-content > *:not(img) {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.25em;
}

.blog-post-content pre {
  background: var(--blockquote-color);
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}

.blog-post-content img {
  margin: 0 auto;
}

.blog-post-content p {
  text-align: left;
  letter-spacing: -0.004em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-post-content a:not(.text-base) {
  text-decoration: underline;
}

.blog-post-content li {
  margin: 0.55rem 0;
  list-style: disc;
  margin-left: 2em;
}

.new {
  background: var(--yellow);
  color: var(--primary-text);
  animation: zoom 1s infinite;
}

.h-sc {
  min-height: calc(100vh - 300px);
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
