@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --blockquote-color: #cfe8fd;
  --blockquote-border: #94ceff;
  --header-bg: #0f4c81;
  --primary-text: #0d2538;
  --primary-color: #333;
  --secondary-color: #666;
  --yellow: #F7DF1E;
}

.dark {
  --bg-color: #0d2538;
  --primary-color: #fff;
  --secondary-color: #ced8de;
  --header-bg: #dfebf6;
}

body {
  background-color: var(--bg-color);
  transition: color .6s,background-color .6s;
}

header {
  transition: color .6s,background-color .6s;
}

.bg {
  background-color: rgba(15, 76, 129, 60%);
  background-image: url('../images/bg.jpg');
  background-position: 0 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.29;
}

header .dark,
header .light {
  top: 1em;
  right: 1em;
}

.sticky-header span {
  display: inline-block;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.theme {
  stroke: var(--bg-color);
}

.color {
  stroke: var(--header-bg);
}

.home {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10;
}

.blog-post-container h1, 
.blog-post-container h2 {
  color: var(--header-bg);
  font-family: 'Boogaloo';
}

.blog-post-container h2 {
  font-size: 1.602em
}

.blog-post-container h3 {
  font-size: 1.424em
}

.blog-post-container h4 {
  font-size: 1.266em
}

.blog-post-container h5 {
  font-size: 1.125em
}


.blog-post-container h1, 
.blog-post-container h2, 
.blog-post-container h3, 
.blog-post-container h4, 
.blog-post-container h5 {
  transition: color .6s;
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.blog-post-container blockquote {
  background: var(--blockquote-color);
  color: var(--primary-text);
  margin-top: 1.25em;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1.25em;
  position: relative;
  border: 1px solid var(--blockquote-border);
  transition-property: background-color, border-color, color;
  transition-duration: 500ms;
}


.blog-post-container blockquote:after {
  content: "â";
  position: absolute;
  font-size: 44px;
  top: -12px;
  left: -5px;
  color: var(--primary-color);
}

.blog-post-container blockquote p {
  margin: 0;
}

.blog-post-container .gatsby-code-title {
  padding: .3rem .75rem;
  background: var(--header-bg);
  color: var(--bg-color);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px 5px 0 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  margin-bottom: -.3rem;
}

.blog-post-container .gatsby-highlight pre {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  text-align: left;
  margin: 0;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  font-size: .85em;
  padding: 1.75em;
  overflow: auto;
  background-color: #f6f6f6;
}

.blog-post-container .language-text {
  background-color: #ebf6ff;
}

.blog-post-content {
  max-width: 960px;
  margin: 0 auto;
}

.blog-post-content > *:not(img) {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.25em;
}

.blog-post-content img {
  margin: 0 auto;
}

.blog-post-content p {
  text-align: left;
  letter-spacing: -0.004em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-post-content p:first-child,
.blog-post-content h2:first-child {
  margin-top: 0;
}

.blog-post-content a:not(.text-base) {
  text-decoration: underline;
}

.blog-post-content li {
  margin: .55rem 0;
}

.blog-post-content nav li {
  flex-basis: 50%;
}

.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

.gatsby-highlight + p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.new {
  background: var(--yellow);
  color: var(--primary-text);
  animation: zoom 1s infinite ;
}

.h-sc {
  min-height: calc(100vh - 300px);
}

@keyframes zoom {
  0% {
      transform: scale(1, 1);
  }
  50% {
      /* transform: scale(0.95, 1); */
  }
  100% {
      transform: scale(1, 1);
  }
}
