<footer class="bg-blog-header">
  <div class="p-6 sm:flex justify-between items-center">
    <div class="left pt-6">
      <a
        class="text-2xl text-blog-bg pointer transition-colors duration-500"
        href="https://chetanraj.in"
      >
        Chetan Raj
      </a>
      <div class="opacity-50 text-blog-bg pointer transition-colors duration-500 pt-16 hidden sm:block md:block lg:block xl:block">
        &copy; Chetan Raj. All Rights Reserved.
      </div>
    </div>
    <div class="right pt-10 sm:pt-0 flex">
      <div class="pr-20 social">
        <h4 class="opacity-50 text-blog-bg pointer transition-colors duration-500">
          Social
        </h4>
        <div class="grid grid-cols-1 pt-4 w-full">
          <a
            class="text-blog-bg pointer transition-colors duration-500"
            href="https://twitter.com/chetan_raj"
          >
            Twitter
          </a>
          <a
            class="text-blog-bg pointer transition-colors duration-500 pt-2"
            href="https://github.com/chetanraj"
          >
            GitHub
          </a>
          <a
            class="text-blog-bg pointer transition-colors duration-500 pt-2"
            href="https://www.instagram.com/thecjstream/"
          >
            Instagram
          </a>
        </div>
      </div>
      <div class="links">
        <h4 class="opacity-50 text-blog-bg pointer transition-colors duration-500">
          Links
        </h4>
        <div class="grid grid-cols-1 pt-4 w-full">
          <a
            class="text-blog-bg pointer transition-colors duration-500 pt-2"
            href="https://www.instagram.com/javascriptessentials/"
          >
            <span class="mr-2" role="img" aria-label="globe">🌏</span>
            JavaScript Essentials
          </a>
        </div>
      </div>
    </div>
    <div class="opacity-50 text-blog-bg pointer transition-colors duration-500 pt-16 block sm:hidden md:hidden lg:hidden xl:hidden">
      &copy; Chetan Raj. All Rights Reserved.
    </div>
  </div>
</footer>

