---
const { title = 'Hi 👋 | Blog by Chetan Raj' } = Astro.props;
import '../styles/global.css';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <SiteHeader title={Astro.props.headerTitle} />
    <section class="w-3/4 m-auto">
      <main class="h-sc">
        <div class="">
          <slot />
        </div>
      </main>
    </section>
    <SiteFooter />
  </body>
</html>
